.gradle/7.3.3/executionHistory/executionHistory.bin
.gradle/7.3.3/executionHistory/executionHistory.lock
.gradle/7.3.3/fileHashes/fileHashes.bin
.gradle/7.3.3/fileHashes/fileHashes.lock
.gradle/7.3.3/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
bin/main/main/java/hexed/Main.class
bin/main/main/java/hexed/Main$1.class
bin/main/main/java/hexed/Main$2.class
build/classes/java/main/main/java/hexed/Main.class
build/classes/java/main/main/java/hexed/Main$1.class
build/classes/java/main/main/java/hexed/Main$2.class
build/tmp/compileJava/previous-compilation-data.bin
tools/config/settings.log
tools/config/logs/log-0.txt
tools/config/mods/Hexed.jar
tools/config/settings_backups/1723898369350.bin
tools/config/settings_backups/1723906992699.bin
